services:

  backend:
    build: ./backend
    container_name: etl-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/code/app
    
  frontend:
    build: ./frontend
    container_name: etl-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/index.html:/app/index.html
      - ./frontend/vite.config.js:/app/vite.config.js
      - ./frontend/package.json:/app/package.json
    depends_on:
      - backend